body {
  background-color:black;
  color:#999;
  font-family:verdana,sans-serif;
  margin:0;
}

header {
color:red;
  width:600px;
  margin:auto;
}

header ul li p {
  color:white;
}

.midashi {
  display:flex;
}

.icon img {
  border-radius:50%;
}

.info {
  margin-left:30px;
}

.info ul {
  list-style-type:none;
  padding:0;
  display:flex;
  margin-right:45px;
}

.info ul img {
  border-radius:30%;
  margin-left:50px;
}

.info ul li {
  margin-left:auto;
}

.sakuhin {
  text-align: center;
}

.sakuhin h1 {
  font-weight:400px;
  font-size:30px;
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;
  color:rgb(119, 0, 143)
}

.sakuhin h2 {
  font-size:20px;
}

footer {
  width:120px;
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
}

.isyou h1 {
  color:rgb(211, 120, 0);
}

.itimen h1 {
  color:blue;
}

.matome h1 {
  color:rgb(0, 175, 93);
}

.matome h2 {
  color: rgb(255, 0, 0);
}

.btn {
  background-color: rgba( 90,0,173,0.5);
  color: white;
  padding: 2px;
}

.btn:hover {
  background-color: rgba(90, 0, 173,0.7)
}
